@using System.Web.UI.WebControls
@using Group3_MVC4.Models
@model Group3_MVC4.Models.BuyWatchModel
@{
    ViewBag.Title = "BuyWatch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <input type="hidden" id="base-url" value="@ViewBag.baseUrl" />
    
    <form method="POST" action="/Home/BuyWatch" enctype="multipart/form-data">
        @*@using (Html.BeginForm("BuyWatch", "Home", new {}, FormMethod.Post, new {role = "form"}))
            {*@
        <div class="col-sm-6" align="center">
            <h4>ĐẶT MUA</h4>
            <h6>Chi Tiết Đồng Hồ</h6>
            <div class="space20">&nbsp;</div>

            @* Thay doi thuoc tinh tuy theo loai dong ho *@
            <script>
                function ChangeWatchType() {
                    var ddl = document.getElementById("ThreeType");
                    var type = ddl.options[ddl.selectedIndex].value;
                    if (type == "Đeo Tay") {
                        //HTMLDivElement.getById("Brand").setAttribute("hidden");
                        document.getElementById("glassShapeDiv").removeAttribute("hidden");
                        document.getElementById("ChainMaterial").removeAttribute("hidden");
                        document.getElementById("displayTypeDiv").removeAttribute("hidden");
                        document.getElementById("buckleTypeDiv").removeAttribute("hidden");
                        document.getElementById("genderDiv").removeAttribute("hidden");
                        document.getElementById("atmDegreeDiv").removeAttribute("hidden");
                    } else if (type == "Quả Lắc") {
                        document.getElementById("ChainMaterial").setAttribute("hidden", "hidden");
                        document.getElementById("glassShapeDiv").setAttribute("hidden", "hidden");
                        document.getElementById("displayTypeDiv").setAttribute("hidden", "hidden");
                        document.getElementById("buckleTypeDiv").setAttribute("hidden", "hidden");
                        document.getElementById("genderDiv").setAttribute("hidden", "hidden");
                        document.getElementById("atmDegreeDiv").setAttribute("hidden", "hidden");
                    } else if (type == "Treo Tường") {
                        document.getElementById("ChainMaterial").setAttribute("hidden", "hidden");
                        document.getElementById("glassShapeDiv").setAttribute("hidden", "hidden");
                        document.getElementById("displayTypeDiv").removeAttribute("hidden");
                        document.getElementById("buckleTypeDiv").setAttribute("hidden", "hidden");
                        document.getElementById("genderDiv").setAttribute("hidden", "hidden");
                        document.getElementById("atmDegreeDiv").setAttribute("hidden", "hidden");
                    }
                }
            </script>

            <div class="form-block">
                <label for="watchType">Loại Đồng Hồ</label>
                @Html.DropDownListFor(m => m.ThreeType, Model.WatchTypeListItems, new { @onchange = "ChangeWatchType()" })
                @*<select name="watchType" id="watchType" onchange="ChangeWatchType()">
                    <option value="Đeo Tay">Đeo Tay</option>
                    <option value="Quả Lắc">Quả Lắc</option>
                    <option value="Treo Tường">Treo Tường</option>
                </select>*@
            </div>


            <div class="form-block" id="Brand">
                <label for="ListBrand">Thương Hiệu</label>
                @*<input list="BrandList" name="ListBrand" id="ListBrand" onchange="changeListOfModel()"/>*@
                @Html.TextBoxFor(m => m.Brand, new { @list = "BrandList", @name = "ListBrand", @id = "ListBrand", @onchange = "changeListOfModel()"})
                <datalist id="BrandList">
                    @{
                        foreach (var b in Model.AddListOfBrand())
                        {
                            <option value="@b.Name"></option>
                        }
                    }
                </datalist>
            </div>

            @* thay doi model tuy theo brand *@
            <script>
                function changeListOfModel() {
                    var brandName = document.getElementById("ListBrand").value.toString();
                    jQuery.get(
                        jQuery('#base-url').val() + '/Home/GetModelByBrand/?brandName=' + brandName, function(data) {
                            var html = "";
                            for (var i = 0; i < data.length; i++) {
                                html += "<option value='" + data[i].Name + "'></option>";
                            }
                            jQuery('#ModelList').html(html);
                        });
                }
            </script>

            <div class="form-block" id="watchModel">
                <label for="watchModel">Dòng Sản Phẩm</label>
                @Html.TextBoxFor(m => m.ModelName, new { @list = "ModelList", @name = "ListModel", @id = "ListModel"})
                @*<input list="ModelList" name="ListModel"/>*@
                <datalist id="ModelList"></datalist>
            </div>

            <div class="form-block">
                <label for="watchName">Tên Đồng Hồ*</label>
                @Html.TextBoxFor(m => m.Name, new { @required = "required" })
            </div>

            <div class="form-block">
                <label for="glassMaterial">Chất Liệu Mặt Kính</label>
                @Html.DropDownListFor(m => m.GlassType, Model.GrassMaterialListItems)
            </div>

            @*<div class="form-block" id="glassShapeDiv">
                <label for="glassShape">Hình Dạng Mặt Kính</label>
                @Html.DropDownListFor(m => m.Shape, Model.GrassShapeListItems)
                <select name="glassShape" id="glassShape">
                    <option value="">Vuông</option>
                    <option value="">Tròn</option>
                    <option value="">Khác</option>
                </select>
            </div>*@

            <div class="form-block">
                <label for="size">Kích Thước (cm x cm)*</label>
                @Html.TextBoxFor(m => m.SizeWrist, new { @required = "required" })
            </div>
            <div class="form-block">
                <label for="caseMaterrial">Chất Liệu Vỏ</label>
                @Html.DropDownListFor(m => m.CaseMeterial, Model.CaseMaterrialListItems)
            </div>
            <div class="form-block" id="ChainMaterial">
                <label for="ChainMaterial">Chất Liệu Quai</label>
                @Html.DropDownListFor(m => m.ChainMaterial, Model.ChainMaterrialListItems)
            </div>
            <div class="form-block">
                <label for="MainColor">Màu chủ đạo</label>
                @Html.DropDownListFor(m => m.MainColor, Model.ColorListItems)
            </div>
            @*<div class="form-block" id="displayTypeDiv">
                <label for="displayType">Kiểu Hiển Thị</label>
                @Html.DropDownListFor(m => m.Watch., Model.ModelListItems)
                <select name="displayType" id="displayType">
                    <option value="Kim">Kim</option>
                    <option value="Điện Tử">Điện Tử</option>
                </select>
            </div>*@
            @*<div class="form-block" id="buckleTypeDiv">
                <label for="buckleType">Kiểu Khóa</label>
                @Html.DropDownListFor(m => m.Watch., Model.ModelListItems)
                <select name="buckleType" id="buckleType">
                    <option value="Khóa Liền">Khóa Liền</option>
                    <option value="Khóa Rời">Khóa Rời</option>
                </select>
            </div>*@
            @*<div class="form-block" id="genderDiv">
                <label for="gender">Loại</label>
                @Html.DropDownListFor(m => m.Watch., Model.ModelListItems)
                <select name="gender" id="gender">
                    <option value="Đồng Hồ Nam">Đồng Hồ Nam</option>
                    <option value="Đồng Hồ Nữ">Đồng Hồ Nữ</option>
                    <option value="Trung Tính">Trung Tính</option>
                </select>
            </div>*@
            <div class="form-block" id="atmDegreeDiv">
                <label for="atmDegree">Chỉ Số Chống Thấm</label>
                @Html.DropDownListFor(m => m.WaterProof, Model.ATMListItems)
            </div>
            @*<div class="form-block" id="smartWatch">
                <label for="atmDegree">Điện Thoại Thông Minh</label>
                @Html.DropDownListFor(m => m.WaterProof, Model.ATMListItems)
            </div>*@

            <div class="form-block">
                <label for="wantedPrice">Tầm Giá (VNĐ)</label>
                @Html.TextBoxFor(m => m.InTransactionPrice)
            </div>

            <div class="form-block">
                <label for="phone">Điện Thoại*</label>
                @Html.TextBoxFor(m => m.phoneNumber, new { @type = "text", @required="required" })
                @*<input type="text" id="phone" required>*@
            </div>

            <div class="form-block">
                <label for="Captcha">Captcha</label>
                <img src="@Url.Action("GetCaptcha", "Home")"/>
                <input type="text" id="captcha" name="captcha" required>
            </div>

            <button type="submit" class="beta-btn beta-btn-3d beta-btn-denim beta-btn-small"><i class="shift-left fa fa-signal"></i>Đặt Mua</button>
        </div>
        @*}*@
    </form>

</div>
