@using Group3_MVC4.Models
@model Watch
@{
    ViewBag.Title = "Bán";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Watch enteredWatch = (Watch)Session["SellingRequest"];
}

<div id="content" class="space-top-none" style="border: 2px solid rgba(0,0,0,0.1); padding: 10px; border-radius: 5px; ">
    <div class="space50">&nbsp;</div>
    <div class="row">
        <div class="col-sm-8" style="font-family: 'Arial';">
            <h3 style="font-family: 'Arial';">Điền các thông tin cần thiết</h3>
            <div class="space20">&nbsp;</div>
            <p>Vui lòng cung cấp các thông tin cần thiết: </p>
            <div class="space20">&nbsp;</div>
            <form action="#" method="post" class="contact-form" enctype="multipart/form-data">
                
                <div class="form-block">
                    @if (enteredWatch == null)
                    {
                        <input name="MemberId" type="text" placeholder="Số ĐT (*)">
                    }
                    else
                    {
                        <input name="MemberId" type="text" placeholder="Số ĐT (*)" value="@enteredWatch.MemberId">
                    }
                    
                </div>
                <div class="form-block">
                    @if (enteredWatch == null)
                    {
                        <input name="Name" type="text" placeholder="Tên đồng hồ">
                    }
                    else
                    {
                        <input name="Name" type="text" placeholder="Tên đồng hồ" value="@enteredWatch.Name">
                    }
                </div>
                <div class="form-block">
                    @if (enteredWatch == null)
                    {
                        <input name="GlassType" type="text" placeholder="Mặt kính">
                    }
                    else
                    {
                        <input name="GlassType" type="text" placeholder="Mặt kính" value="@enteredWatch.GlassType">
                    }
                    
                </div>
                <div class="form-block">
                    @if (enteredWatch == null)
                    {
                        <input name="CaseMeterial" type="text" placeholder="Chất liệu">
                    }
                    else
                    {
                        <input name="CaseMeterial" type="text" placeholder="Chất liệu" value="@enteredWatch.CaseMeterial">
                    }
                    
                </div>
                <div class="form-block">
                    @if (enteredWatch == null)
                    {
                        <input name="MainColor" type="text" placeholder="Màu Sắc">
                    }
                    else
                    {
                        <input name="MainColor" type="text" placeholder="Màu Sắc" value="@enteredWatch.MainColor">
                    }
                    
                </div>
                <div class="form-block">
                    @if (enteredWatch == null)
                    {
                        <input name="InTransactionPrice" type="text" placeholder="Giá mong muốn">
                    }
                    else
                    {
                        <input name="InTransactionPrice" type="text" placeholder="Giá mong muốn" value="@enteredWatch.InTransactionPrice">
                    }
                    
                </div>
                <div class="form-block">
                    <input name="file" type="file" placeholder="Hình ảnh">
                </div>  
                               
                    <select id="modelId" name="ModelId" class="combobox form-control">
                        <option value="" selected="selected">Vui lòng chọn model</option>
                        @*@foreach (var item in ViewBag.Models)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }*@
                    </select>


                    <select id="availableAt" name="AvailableAt" class="combobox form-control">
                        <option value="" selected="selected">Vui lòng chọn cửa hàng</option>
                        @*foreach (var item in ViewBag.Stores)
                        {
                            <option value="@item.Id"> @item.Name - @item.Address</option>
                        }*@
                    </select>
           

                <div class="form-block">
                    <img alt="Captcha" src="@Url.Action("GetCapchar", "Home")" style="" />
                </div>
                <div class="form-block">
                    <input name="Captcha" type="text" placeholder="Vui lòng nhập mã captcha phía trên">
                </div>
                <div class="form-block">
                    <button type="submit" class="beta-btn primary">Gửi yêu cầu <i class="fa fa-chevron-right"></i></button>
                </div>
            </form>
        </div>
        <div class="col-sm-4" style="font-family: 'Arial';">
            <h3 style="font-family: 'Arial';">Điều khoản mua bán</h3>
            <div class="space20">&nbsp;</div>

            <h6 class="contact-title" style="font-family: 'Arial';">Sản phẩm</h6>
            <p>
                Sẽ được kiểm tra trước khi giao dịch
            </p>
            <div class="space20">&nbsp;</div>
            <h6 class="contact-title" style="font-family: 'Arial';">Giá cả</h6>
            <p>
                Giá cả tốt nhất cho sản phẩm của bạn <br>
            </p>
            <div class="space20">&nbsp;</div>
            <h6 class="contact-title" style="font-family: 'Arial';">Kí gửi</h6>
            <p>
                Bạn có thể kí gửi bán sản phẩm với <br>
                chi phí thấp nhất. <br>
            </p>
            <div class="space20">&nbsp;</div>
            <h6 class="contact-title" style="font-family: 'Arial';">Giao dịch</h6>
            <p>
                Bạn phải đến chi nhánh trực tiếp <br>
                để kiểm tra sản phẩm trước khi <br>
                giao dịch hoàn tất.
            </p>
        </div>
    </div>
</div> <!-- #content -->
<!--Confirm modal-->


<script src="~/Script/js/jquery.js" type="text/javascript"></script>
<script src="~/Script/js/bootstrap.js" type="text/javascript"></script>
<script src="~/Script/js/bootstrap-combobox.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('.combobox').combobox();
        
        $('[placeholder = "Vui lòng chọn model"]').keypress(function () {
            $.ajax({
                url: '@Url.Action("GetListModel", "Home")',
                type: 'GET',
                dataType: 'json',
                success: function (stringData) {
                    var data = JSON.parse(stringData);
                    $('#modelId').html('');
                    $('#modelId').append($('<option>').text("Vui lòng chọn model").attr('value', ""));
                    $.each(data, function (index, element) {
                        $('#modelId').append($('<option>').text(element.Name).attr('value', element.Id));
                    });
                    $('#modelId').data('combobox').refresh();
                }
            });
        });
        $('[placeholder = "Vui lòng chọn cửa hàng"]').keypress(function () {
            $.ajax({
                url: '@Url.Action("GetListStore", "Home")',
                type: 'GET',
                dataType: 'json',
                success: function (stringData) {
                    var data = JSON.parse(stringData);
                    $('#availableAt').html('');
                    $('#availableAt').append($('<option>').text("Vui lòng chọn cửa hàng").attr('value', ""));
                    $.each(data, function (index, element) {
                        $('#availableAt').append($('<option>').text(element.Name).attr('value', element.Id));
                    });
                    $('#availableAt').data('combobox').refresh();
                }
            });
        });


    });

</script>