@model Group3_MVC4.Models.Watch
@{
    ViewBag.Title = "Bán";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var models = ViewBag.models;
    var stores = ViewBag.stores;
    List<SelectListItem> listmodels = new List<SelectListItem>
    {
        new SelectListItem
        { 
            Text="---- Chọn model thích hợp ----",
            Value="null",
            Selected = true
        }
    };
    List<SelectListItem> liststores = new List<SelectListItem>{
        new SelectListItem
        { 
            Text="---- Chọn cửa hàng bạn muốn bán ----",
            Value="null",
            Selected = true
        }
    };
    
    //foreach (var model in models)
    //{
    //    listmodels.Add(new SelectListItem
    //    {
    //        Text = model.Name,
    //        Value = model.Id.ToString()
    //    });
    //}
    //foreach (var store in stores)
    //{
    //    liststores.Add(new SelectListItem
    //    {
    //        Text = store.Name,
    //        Value = store.Id.ToString()
    //    });
    //}
}

<div id="content" class="space-top-none" style="border: 2px solid rgba(0,0,0,0.1); padding: 10px; border-radius: 5px; ">
    <div class="space50">&nbsp;</div>
    <div class="row">
        <div class="col-sm-8" style="font-family: 'Arial';">
            <h3 style="font-family: 'Arial';">Điền các thông tin cần thiết</h3>
            <div class="space20">&nbsp;</div>
            <p>Vui lòng cung cấp các thông tin cần thiết: </p>
            <div class="space20">&nbsp;</div>
            <form action="#" method="post" class="contact-form">
                <div class="form-block">
                    <input name="MemberId" type="text" placeholder="Số ĐT (*)">
                </div>
                <div class="form-block">
                    <input name="Name" type="text" placeholder="Tên đồng hồ">
                </div>
                <div class="form-block">
                    <input name="GlassType" type="text" placeholder="Mặt kính">
                </div>
                <div class="form-block">
                    <input name="CaseMeterial" type="text" placeholder="Chất liệu">
                </div>
                <div class="form-block">
                    <input name="MainColor" type="text" placeholder="Màu Sắc">
                </div>
                <div class="form-block">
                    <input name="InTransactionPrice" type="text" placeholder="Giá mong muốn">
                </div>
                <div class="form-block">
                    <select id="store" name="store" class="form-control">
                        <option value="0">---- Chọn model ----</option>
                        @foreach (var item in ViewBag.Models)
                        {
                            <option value="@item.Id"> @item.Name</option>
                        }
                    </select>
                </div>
                <div class="form-block">
                    <select id="AvailableAt" name="AvailableAt" class="form-control">
                        <option value="0">---- Chọn cửa hàng muốn giao dịch ----</option>
                        @foreach (var item in ViewBag.Stores)
                        {
                            <option value="@item.Id"> @item.Name - @item.Address</option>
                        }
                    </select>
                </div>
                <div class="form-block">
                    <input name="file" type="file" placeholder="Hình ảnh">
                </div>
                <div class="form-block">
                    <button type="submit" class="beta-btn primary">Gửi yêu cầu <i class="fa fa-chevron-right"></i></button>
                </div>
            </form>
        </div>
        <div class="col-sm-4" style="font-family: 'Arial';">
            <h3 style="font-family: 'Arial';">Điều khoản mua bán</h3>
            <div class="space20">&nbsp;</div>

            <h6 class="contact-title" style="font-family: 'Arial';">Sản phẩm</h6>
            <p>
                Sẽ được kiểm tra trước khi giao dịch
            </p>
            <div class="space20">&nbsp;</div>
            <h6 class="contact-title" style="font-family: 'Arial';">Giá cả</h6>
            <p>
                Giá cả tốt nhất cho sản phẩm của bạn <br>
            </p>
            <div class="space20">&nbsp;</div>
            <h6 class="contact-title" style="font-family: 'Arial';">Kí gửi</h6>
            <p>
                Bạn có thể kí gửi bán sản phẩm với <br>
                chi phí thấp nhất. <br>
            </p>
            <div class="space20">&nbsp;</div>
            <h6 class="contact-title" style="font-family: 'Arial';">Giao dịch</h6>
            <p>
                Bạn phải đến chi nhánh trực tiếp <br>
                để kiểm tra sản phẩm trước khi <br>
                giao dịch hoàn tất.
            </p>
        </div>
    </div>
</div> <!-- #content -->
<!--Confirm modal-->

<div class="modal fade" id="cofirmModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title" id="mySmallModalLabel">Small modal<a class="anchorjs-link" href="#mySmallModalLabel"><span class="anchorjs-icon"></span></a></h4>
        </div>
        <div class="modal-content">
            <form id="confirmForm" class="form-horizontal" role="form">
                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="code" type="text" class="form-control" name="code" value="" placeholder="Mã xác nhận">
                </div>

                <div style="margin-top: 10px" class="form-group">
                    <!-- Button -->
                    <div class="col-sm-12 controls">
                        <a id="btn-login" href="#" class="btn btn-success" style="background-color: #3A5C83;">Đăng nhập </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/Script/js/jquery.js"></script>
<script src="~/Script/js/bootstrap.js"></script>
<script>
    $(function () {
        $('#cofirmModal').modal('show');
    });
</script>