@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-9 main-content pull-right">
        <div class="beta-products-list">
            <div class="header-bottom"></div><div class="space30">&nbsp;</div>
            <div class="row">
                <div class="col-sm-4 ">
                    <div class="single-item">
                        <div class="single-item-header">
                            <a href="@Url.Action("")"><img src="/Images/Watches/1.jpg" alt=""></a>
                        </div>


                    </div>
                </div>
                <div class="col-sm-5 ">
                    <div class="single-item">


                        <div class="single-item-header">
                            <a href="/home/ViewWatchDetail"><h4>Aiers B125G</h4></a>
                        </div>
                        <div class="single-item-header">
                            <p class="single-item-title">
                                Mã sản phẩm:  AE001-01
                            </p>
                            <p class="single-item-title">
                                Màu sắc:  Mặt vàng, dây mạ vàng (N1)
                            </p>
                        </div>
                        <div class="single-item-caption">

                            <a class="beta-btn primary" href="/home/ViewWatchDetail">Chi tiết <i class="fa fa-chevron-right"></i></a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 ">
                    <div class="single-item">
                        <div class="single-item-header">
                            <p class="single-item-title">
                                Giá bán đề nghị
                            </p>
                            <h4>3,900,000</h4>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="beta-products-list">
            <div class="header-bottom"></div>
            <div class="space30">&nbsp;</div>
            <div class="row">
                <div class="col-sm-4 ">
                    <div class="single-item">
                        <div class="single-item-header">
                            <a href="/home/ViewWatchDetail"><img src="/Images/Watches/1.jpg" alt=""></a>
                        </div>


                    </div>
                </div>
                <div class="col-sm-5 ">
                    <div class="single-item">


                        <div class="single-item-header">
                            <a href="/home/ViewWatchDetail"><h4>Aiers B125G</h4></a>
                        </div>
                        <div class="single-item-header">
                            <p class="single-item-title">
                                Mã sản phẩm: AE001-01
                            </p>
                            <p class="single-item-title">
                                Màu sắc: Mặt vàng, dây mạ vàng (N1)
                            </p>
                        </div>
                        <div class="single-item-caption">

                            <a class="beta-btn primary" href="/home/ViewWatchDetail">Chi tiết <i class="fa fa-chevron-right"></i></a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 ">
                    <div class="single-item">
                        <div class="single-item-header">
                            <p class="single-item-title">
                                Giá bán đề nghị
                            </p>
                            <h4>3,900,000</h4>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="beta-products-list">
            <div class="header-bottom"></div>
            <div class="space30">&nbsp;</div>
            <div class="row">
                <div class="col-sm-4 ">
                    <div class="single-item">
                        <div class="single-item-header">
                            <a href="/home/ViewWatchDetail"><img src="/Images/Watches/1.jpg" alt=""></a>
                        </div>


                    </div>
                </div>
                <div class="col-sm-5 ">
                    <div class="single-item">


                        <div class="single-item-header">
                            <a href="/home/ViewWatchDetail"><h4>Aiers B125G</h4></a>
                        </div>
                        <div class="single-item-header">
                            <p class="single-item-title">
                                Mã sản phẩm: AE001-01
                            </p>
                            <p class="single-item-title">
                                Màu sắc: Mặt vàng, dây mạ vàng (N1)
                            </p>
                        </div>
                        <div class="single-item-caption">

                            <a class="beta-btn primary" href="/home/ViewWatchDetail">Chi tiết <i class="fa fa-chevron-right"></i></a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 ">
                    <div class="single-item">
                        <div class="single-item-header">
                            <p class="single-item-title">
                                Giá bán đề nghị
                            </p>
                            <h4>3,900,000</h4>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="beta-products-list">
            <div class="header-bottom"></div>
            <div class="space30">&nbsp;</div>
            <div class="row">
                <div class="col-sm-4 ">
                    <div class="single-item">
                        <div class="single-item-header">
                            <a href="/home/ViewWatchDetail"><img src="/Images/Watches/1.jpg" alt=""></a>
                        </div>


                    </div>
                </div>
                <div class="col-sm-5 ">
                    <div class="single-item">


                        <div class="single-item-header">
                            <a href="/home/ViewWatchDetail"><h4>Aiers B125G</h4></a>
                        </div>
                        <div class="single-item-header">
                            <p class="single-item-title">
                                Mã sản phẩm: AE001-01
                            </p>
                            <p class="single-item-title">
                                Màu sắc: Mặt vàng, dây mạ vàng (N1)
                            </p>
                        </div>
                        <div class="single-item-caption">

                            <a class="beta-btn primary" href="/home/ViewWatchDetail">Chi tiết <i class="fa fa-chevron-right"></i></a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 ">
                    <div class="single-item">
                        <div class="single-item-header">
                            <p class="single-item-title">
                                Giá bán đề nghị
                            </p>
                            <h4>3,900,000</h4>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="beta-pagination text-center">
            <a href="#"><i class="fa fa-chevron-left"></i></a>
            <a href="#" class="is-active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">...</a>
            <a href="#"><i class="fa fa-chevron-right"></i></a>
        </div>
    </div> <!-- .main-content -->

    <div class="col-sm-3 aside">
        <div class="widget">
            <h3 class="widget-title">Thương hiệu</h3>
            <div class="widget-body">
                <ul class="list-unstyled">
                    @foreach (var item in ViewBag.Brands)
                    {
                        <li>
                            <input type="checkbox" name="brands" id="brands-abs" value="@item.Id">
                            <label for="brands-abs"><span></span> @item.Name</label>
                        </li>
                    }
                </ul>
            </div>
        </div> <!-- brands widget -->

        <div class="widget">
            <h3 class="widget-title">Màu sắc</h3>
            <div class="widget-body">
                <ul class="list-unstyled">
                    <li>
                        @foreach (var item in ViewBag.Colors)
                        {
                            <input type="checkbox" name="colors" id="colors-beige" value="Id-here">
                            <label for="colors-beige"><span></span> @item</label>
                        }
                    </li>
                </ul>
            </div>
        </div>
        <!-- colors widget -->

        @*<div class="widget">
            <h3 class="widget-title">Giá cả</h3>
            <div class="widget-body">
                <div class="price-filter">
                    <div id="price-filter-range" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 30%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 30%;"></a><div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 30%;"></div><div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 30%;"></div></div>
                    <span class="pull-left">Giá: <span id="price-filter-amount">0 - 5,000,000</span></span>
                    <a href="#" class="beta-btn primary pull-right">Lọc<i class="fa fa-chevron-right"></i></a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>*@
        <!-- price range widget -->

        <div class="widget">
            <h3 class="widget-title">Tags</h3>
            <div class="widget-body">
                <div class="beta-tags">
                    @foreach (var item in ViewBag.Tags)
                    {
                        <a href="@Url.Action("Tag", "Home", new { id = item.Id})">@item.Name</a>
                    }
                </div>
            </div>
        </div> <!-- tags cloud widget -->
    </div> <!-- .aside -->
</div>

