<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link href='http://fonts.googleapis.com/css?family=Dosis:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href="~/Content/dest/css/boostrap.css" rel="stylesheet" />
    <link href="~/Content/dest/css/bootstrap-combobox.css" rel="stylesheet"/>
    <link rel="stylesheet" href="~/Content/dest/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/dest/rs-plugin/css/settings.css">
    <link rel="stylesheet" href="~/Content/dest/rs-plugin/css/responsive.css">
    <link rel="stylesheet" title="style" href="~/Content/dest/css/style.css">
    <link rel="stylesheet" href="~/Content/dest/css/animate.css">
    <!-- include js files -->
    <script src="~/Script/js/jquery.js"></script>
</head>
<body>
    <div id="header">
        <div class="header-bottom">
            <div class="container">
                <a class="visible-xs beta-menu-toggle pull-right" href="#"><span class='beta-menu-toggle-text'>Menu</span> <i class="fa fa-bars"></i></a>
                <div class="visible-xs clearfix"></div>
                <nav class="main-menu">
                    <ul class="l-inline ov">
                        <li>
                            <a href="@Url.Action("Index", "Home")">Trang chủ</a>
                        </li>
                        <li>
                            <a href="#">Sản phẩm</a>
                            <ul class="sub-menu">
                                <li><a href="">Đồng hồ thông minh</a></li>
                                <li><a href="">Đồng hồ thể thao</a></li>
                                <li><a href="">Đồng hồ treo tường</a></li>
                                <li><a href="">Đồng hồ quả lắc</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="@Url.Action("Search", "Home")">Tìm kiếm</a>
                        </li>
                        <li>
                            <a href="@Url.Action("CreateSellingRequest", "Home")">Bán</a>
                        </li>
                        <li>
                            <a href="#">Trao đổi</a>
                        </li>
                        <li>
                            <a href=@Url.Action("BuyWatch","Home")>Đặt Mua</a>
                        </li>
                        @if (Session["Account"] != null)
                        {
                            <li>
                                <a href="@Url.Action("MyTransaction", "Account")">Xem giao dịch</a>
                            </li>
                        }

                        @if (Session["Account"] == null)
                        {
                            <li class="pull-right">
                                <a href="@Url.Action("Login", "Account")">Đăng nhập</a>
                            </li>
                        }
                    </ul>
                    <div class="clearfix"></div>
                </nav>
            </div> <!-- .container -->
        </div> <!-- .header-bottom -->
    </div> <!-- #header -->

    <div class="container">
        <div id="content">
            <div class="row">
                @RenderBody()
            </div>
        </div> <!-- #content -->
    </div> <!-- .container -->

    <div id="footer">
        <div class="container">
        </div> <!-- .container -->
    </div> <!-- #footer -->
    <div class="copyright">
        <div class="container">
            <p class="pull-left">WatchShop &copy; 2015</p>
            <div class="clearfix"></div>
        </div> <!-- .container -->
    </div> <!-- .copyright -->

    <script src="~/Script/vendors/jqueryui/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="~/Script/js/bootstrap.js"></script>
    <script src="~/Script/js/bootstrap-combobox.js" type="text/javascript"></script>
    <script src="~/Script/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
</body>
</html>