@model IEnumerable<Group3_MVC4.Models.Watch>
@{
    ViewBag.Title = "Quản lý yêu cầu";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section role="main" class="content-body">
    <header class="page-header">
        <h2>Giải quyết yêu cầu khách hàng</h2>
        <div class="right-wrapper pull-right">           
            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>
    <!-- start: page -->
    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
                <a href="#" class="fa fa-times"></a>
            </div>

            <h2 class="panel-title">Danh sách các yêu cầu</h2>
        </header>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover mb-none">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Phone</th>
                            <th>Thời gian</th>
                            <th>Trạng thái</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.MemberId</td>
                                <td>04-05-2015</td>
                                <td>Chờ kiểm tra</td>
                                <td class="actions-hover actions-fade">
                                    <a href="@Url.Action("ViewSellRequestDetail", "Admin", new {id = @item.Id })"><i class="fa fa-pencil"></i></a>
                                    <a href="@Url.Action("DeleteSellRequest", "Admin", new { id = @item.Id })" class="delete-row"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        }                                               
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <!-- end: page -->
</section>
